html {
	text-align:center;
}

#main {
	background-color:white;
}

#title {
	background-color: #f3f3f3;
}

#img-div {
	background-color: maroon;
}

#image {
	background-color:#ffffff;
	margin: 2em auto;
	width: 250px;
	padding: 1em 1em;
}
#img-caption {
      padding: 0 2em 2em;
	  margin: auto;
	  color:lightgrey;
}

ul {
	text-align: left;
}
#tribute-info {
	background-color: tan;
}

#tribute-link {
	background-color:lightgrey;
}

